<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <div id="currency-decay-chart">
        Tutaj będzie wykres
      </div>
    </div>
    <div class="col-md-4">
      <select class="browser-default custom-select">
        <option value="1">Euro</option>
        <option value="2">Dolar amerykański</option>
        <option value="3">Polski złoty</option>
        <option value="4">Funt byrytjski</option>
        <option value="5">Frank szwajcarski</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="browser-default custom-select">
        <option value="1">Euro</option>
        <option value="2">Dolar amerykański</option>
        <option value="3">Polski złoty</option>
        <option value="4">Funt byrytjski</option>
        <option value="5">Frank szwajcarski</option>
      </select>
    </div>
  </div>
</div>
