<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-3 text-center">
      <select class="browser-default custom-select">
        <option selected>Dostępne analizy statystyczne</option>
        <option value="1">Ilość sesji wzrostowych, spadkowych i bez zmian</option>
        <option value="2">Miary statystyczne</option>
        <option value="3">Rozkład zmian miesięcznych i kwartalnych</option>
      </select>
      <button class="btn btn-primary" routerLink="">Pokaż analizę</button>
    </div>
  </div>
</div>
