<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <div id="currency-decay-chart">
        Tutaj będzie wykres
      </div>
    </div>
    <div class="col-md-3">
      <select class="browser-default custom-select" id="statistical-select">
        <option value="1">Mediana</option>
        <option value="2">Dominanta</option>
        <option value="3">Odchylenie standardowe</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="browser-default custom-select" id="period-select">
        <option value="1">1 tydzień</option>
        <option value="2">2 tygodnie</option>
        <option value="3">1 miesiąc</option>
        <option value="4">1 kwartał</option>
        <option value="5">Pół roku</option>
        <option value="6">Jeden rok</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="browser-default custom-select" id="currency-select">
        <option value="1">Euro</option>
        <option value="2">Dolar amerykański</option>
        <option value="3">Polski złoty</option>
        <option value="4">Funt byrytjski</option>
        <option value="5">Frank szwajcarski</option>
      </select>
    </div>
  </div>
</div>
