<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <div id="currency-decay-chart">
        <button class="btn btn-primary" (click)="getSpecificOption()">Wyznacz wartość</button>
      </div>
      <div>
        Pobrana wartość:
        <span *ngIf="chosenFirstOption === 'median'">{{median}}</span>
        <span *ngIf="chosenFirstOption === 'dominant'">{{dominant}}</span>
        <span *ngIf="chosenFirstOption === 'deviation'">{{deviation}}</span>

      </div>
    </div>
    <div class="col-md-3">
      <select class="browser-default custom-select" id="statistical-select" [(ngModel)]="chosenFirstOption">
        <option value="median">Mediana</option>
        <option value="dominant">Dominanta</option>
        <option value="deviation">Odchylenie standardowe</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="browser-default custom-select" id="period-select" [(ngModel)]="chosenSecondOption">
        <option value="oneWeek">1 tydzień</option>
        <option value="twoWeeks">2 tygodnie</option>
        <option value="oneMonth">1 miesiąc</option>
        <option value="oneQuartal">1 kwartał</option>
        <option value="halfOfYear">Pół roku</option>
        <option value="oneYear">Jeden rok</option>
      </select>
    </div>
    <div class="col-md-3">
      <select class="browser-default custom-select" id="currency-select" [(ngModel)]="chosenThirdOption">
        <option value="EUR">Euro</option>
        <option value="USD">Dolar amerykański</option>
        <option value="RUB">Ruble</option>
        <option value="GBP">Funt byrytjski</option>
        <option value="CHF">Frank szwajcarski</option>
      </select>
    </div>
  </div>
</div>
